playwright==1.58.0
polars==1.39.0
adbc-driver-postgresql==1.10.0
pyarrow==23.0.1
google-cloud-bigquery==3.40.1
dacite==1.9.2
apache-airflow-providers-google==21.1.0
newspaper4k==0.9.5
newspaper4k[nlp]==0.9.5
qdrant-client==1.18.0